body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center !important;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label, input {
    display: block;
    margin-bottom: 10px;
  }
  
  #event-list {
    margin-top: 50px;
  }
  
  #events {
    list-style-type: none;
    padding: 0;
  }
  
  #events li {
    margin-bottom: 10px;
  }
  
  #events li span {
    font-weight: bold;
  }